.footer {
  position: absolute;
  background-color: gray;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  text-align: center;
}

.loginFormDiv
{
   background-color: #008B8B;
   width: 400px; 
   margin: 0 auto; 
   margin-top: 100px;

}

.div1
{
  margin-top:100px;
}

.editor-menu-div{
    margin-top:50px;
}

a{
    cursor: pointer!important;
}

.active{
    background-color: lightblue;
    color: white;
}

.settings-dropdown{
    margin: 0 100px 100px 20px!important;
}

.settings{
    position: relative;
    z-index: 2;
    float:right;
    margin-top:-25px;
    margin-right:30px;

}

.tableCart{
    border-collapse:collapse!important;
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px!important;
    border-bottom: 0px!important;
}

.tr
{
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px!important;
    border-bottom: 0px!important;
}

.td{
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px!important;
    border-bottom: 0px!important;
}

.inputTextResponseText {
    width: 400px;
}

.inputTextSelectionText{
    width: 400px;
}

#row_id1{
    margin-top:10px;
}
.inputText{
    width: 200px;
}

.responses{
    margin-left: 20px;
}

.text{
    font-size: 20px;
}

.content{
    margin-top:50px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #626f72;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


.EditMenuDiv{
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

#category_id1{
    margin-top: -10px;
}

.cartResponseText{
    margin-top: 10px;
}

.EditMenuAddNew{
    float: left;
    margin-top: -35px;
    margin-left: 200px;
}

#row_id1{
    float:left;
    margin-left: 100px;
    margin-bottom: 40px;
}

.EditorMenu{
    height: 600px;
    width: 800px;
}

.main{
    margin-left:250px;
}

.buttonDiv{
    float:right;
    margin-top: -20px;
}

.carousel{
display:none;
margin-top:90px;
}


.margin-top-neg-20{
    margin-top: -20px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-15{
    margin-top:15px;
}
.margin-left-10{
    margin-left: 10px;
}

.margin-left-90{
    margin-left: 90px;
}

.margin-left-200{
    margin-left: 200px;
}

.float-right{
    float: right;
}

.sidebar-bg-color{
    background-color: lightblue;
}



#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

.sidebar-wrapper {
    margin-top:0px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:#333333 !Important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled .sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
#wrapper {
    padding-left: 220px;
}

#wrapper.toggled {
    padding-left: 0;
}

.sidebar-wrapper {
    width: 200px;
}

#wrapper.toggled .sidebar-wrapper {
    width: 40px;
}

#wrapper.toggled span {
    visibility:hidden;
}

#wrapper.toggled   i {
    float:right;
} 

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    }
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
}

#wrapper.toggled {
    padding-right: 60px;
}

#wrapper {
    padding-left: 20px;
}

#wrapper.toggled {
    padding-left: 0;
}

.sidebar-wrapper {
    width: 50px;
}

#wrapper.toggled .sidebar-wrapper {
    width: 140px;    
}
    
#wrapper.toggled span {
    visibility:visible;
    position:relative;
    left:70px;
    bottom:13px;     
}

#wrapper span {
    visibility:hidden;
}
#wrapper.toggled   i {
 float:right;
} 
 
#wrapper   i {
 float:right;
} 

#page-content-wrapper {
    padding: 5px;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

}
